<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
	    <a class="topcoat-icon-button--quiet center nav-button" href="" ng-click="back()">
	        <span class="topcoat-icon topcoat-icon--back"></span>
	    </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title nav-title">... on its way ...</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet center nav-button" href="" ng-click="home()">
            <span class="topcoat-icon topcoat-icon--home"></span>
        </a>
    </div>
</div>
<div class="center full">
  <div class="center light-font">
    <h2>A feedback reminder email was just sent to you. Instructions on what to do next are provided in the email.</h2>
  </div>
</div>