<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
	    <a class="topcoat-icon-button--quiet center nav-button" href="" ng-click="back()">
	        <span class="topcoat-icon topcoat-icon--back"></span>
	    </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title nav-title">... of type ...</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet center nav-button" href="" ng-click="home()">
            <span class="topcoat-icon topcoat-icon--home"></span>
        </a>
    </div>
</div>
<div>
	<div class="center full">
		<h2 class="light-font">Feedback for {{person.firstName}} {{person.lastName}}</h2>
	</div>
	<div class="center full">
		<button class="topcoat-button--large center feedback-button" ng-click="go('/people/' + person.id + '/fbtype/positive/fbcat')" style="background-color:#99D699">  Positive</button>
	</div>
	<div class="center full">
		<button class="topcoat-button--large center feedback-button" ng-click="go('/people/' + person.id + '/fbtype/negative/fbcat')" style="background-color:#FF9999">Constructive</button>
	</div>
</div>